<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Undercut</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>pose1_atlantic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_atlantic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_atlantic_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_atlantic_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_azur</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_azur</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_azur_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_azur_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_bolt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_bolt</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_bolt_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_bolt_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_frost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_frost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_frost_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_frost_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_ivory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_ivory</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_ivory_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_ivory_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_midnight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_midnight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_midnight_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_midnight_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_papaya</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_papaya</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_papaya_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_papaya_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_rosso</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_rosso</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_rosso_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_rosso_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_silver</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_silver</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_silver_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_silver_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_titan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_titan</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_titan_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_titan_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_undercut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_undercut</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_undercut_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_undercut_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_verde</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_verde</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_verde_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_verde_light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>pose1_atlantic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_atlantic</string>
					<string>pose1_atlantic-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_atlantic_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_atlantic_light</string>
					<string>pose1_atlantic_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_azur</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_azur</string>
					<string>pose1_azur-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_azur_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_azur_light</string>
					<string>pose1_azur_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_bolt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_bolt</string>
					<string>pose1_bolt-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_bolt_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_bolt_light</string>
					<string>pose1_bolt_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_frost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_frost</string>
					<string>pose1_frost-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_frost_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_frost_light</string>
					<string>pose1_frost_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_ivory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_ivory</string>
					<string>pose1_ivory-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_ivory_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_ivory_light</string>
					<string>pose1_ivory_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_midnight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_midnight</string>
					<string>pose1_midnight-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_midnight_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_midnight_light</string>
					<string>pose1_midnight_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_papaya</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_papaya</string>
					<string>pose1_papaya-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_papaya_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_papaya_light</string>
					<string>pose1_papaya_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_rosso</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_rosso</string>
					<string>pose1_rosso-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_rosso_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_rosso_light</string>
					<string>pose1_rosso_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_silver</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_silver</string>
					<string>pose1_silver-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_silver_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_silver_light</string>
					<string>pose1_silver_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_titan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_titan</string>
					<string>pose1_titan-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_titan_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_titan_light</string>
					<string>pose1_titan_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_undercut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_undercut</string>
					<string>pose1_undercut-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_undercut_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_undercut_light</string>
					<string>pose1_undercut_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_verde</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_verde</string>
					<string>pose1_verde-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>pose1_verde_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pose1_verde_light</string>
					<string>pose1_verde_light-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>undercut</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app lets you attach images from your photo library when sharing or uploading files.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
